In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [15]:
dfs = []

dfs.append(pd.read_csv(Path("../input/submission_878.csv")).sort_values('recording_id'))
dfs.append(pd.read_csv(Path("../input/submission_879.csv")).sort_values('recording_id'))
dfs.append(pd.read_csv(Path("../input/submission_879_1.csv")).sort_values('recording_id'))
dfs.append(pd.read_csv(Path("../input/submission_880.csv")).sort_values('recording_id'))

for df in dfs:
    display(df.head(1))
    display(df.values[0][1:].sum())

,recording_id,s0,s1,s2,s3,s4,s5,s6,s7,s8,...,s14,s15,s16,s17,s18,s19,s20,s21,s22,s23
0,000316da7,0.147241,0.125026,0.109696,0.357899,0.099043,0.213696,0.113769,0.182404,0.110042,...,0.179471,0.140863,0.100057,0.133385,0.195689,0.118428,0.159259,0.128296,0.105157,0.130125

3.8903257019000006

,recording_id,s0,s1,s2,s3,s4,s5,s6,s7,s8,...,s14,s15,s16,s17,s18,s19,s20,s21,s22,s23
0,000316da7,10.93,13.038,5.044,23.0,3.038,17.956,1.968,15.93,6.038,...,20.0,18.93,14.012,3.994,21.0,1.07,9.026,16.93,9.93,15.064

276.0

,recording_id,s0,s1,s2,s3,s4,s5,s6,s7,s8,...,s14,s15,s16,s17,s18,s19,s20,s21,s22,s23
0,000316da7,0.229914,0.008453,0.00805,0.99295,0.000218,0.069703,0.000343,0.012105,0.003435,...,0.001236,0.004097,0.002211,0.001163,0.021619,0.031797,0.000908,0.010523,0.004563,0.001275

1.5806320081900005

,recording_id,s0,s1,s2,s3,s4,s5,s6,s7,s8,...,s14,s15,s16,s17,s18,s19,s20,s21,s22,s23
0,000316da7,3.202613,3.895946,1.706396,7.599547,1.076078,5.293725,0.635732,4.540981,1.910178,...,5.81584,5.394237,4.205831,1.205558,6.158976,0.611817,2.685329,4.750577,2.779728,4.499254

83.39560815408683

In [22]:
from sklearn import preprocessing
mm = preprocessing.MinMaxScaler()

In [23]:
preds = dfs[0].values[:,1:] + mm.fit_transform(dfs[1].values[:,1:]) + dfs[2].values[:,1:] + mm.fit_transform(dfs[3].values[:,1:])

In [26]:
preds.shape

(1992, 24)

In [34]:
df_sub = pd.DataFrame(preds, columns=dfs[0].columns[1:])
df_sub["recording_id"] = dfs[0]["recording_id"].values
df_sub

,s0,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,s15,s16,s17,s18,s19,s20,s21,s22,s23,recording_id
0,1.25024,1.20212,0.547514,3.31569,0.370248,1.73428,0.281227,1.40417,0.617293,1.26267,...,1.63019,1.22472,0.458767,1.93656,0.274955,0.895798,1.52901,0.897662,1.33526,000316da7
1,1.14055,1.39657,0.859062,2.82661,0.792054,0.391437,0.198467,2.40332,0.564645,0.748159,...,2.06773,2.85832,1.40903,1.63864,0.0471265,0.223194,0.994127,0.655653,0.503169,003bc2cb2
2,2.01623,1.38884,0.253149,2.57852,0.128985,1.25306,0.526784,2.30366,0.300019,0.482249,...,0.883917,1.63285,1.72828,0.70458,1.23571,1.39447,0.68361,1.53458,1.5993,0061c037e
3,2.7405,1.13041,0.588918,0.795851,1.61575,1.46837,0.2507,0.995329,2.23053,1.42485,...,0.989091,0.342748,0.0406862,2.33608,0.425769,0.590741,1.86858,0.270243,0.82101,010eb14d3
4,0.664331,0.967402,1.28301,2.89539,0.748805,0.937677,0.662548,1.56938,1.0577,0.872542,...,2.07053,1.69107,1.39248,2.17228,0.181155,0.430458,1.59653,0.334357,0.300918,011318064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,1.42734,0.206831,0.33881,1.64718,1.26554,3.31321,0.587107,1.77041,1.04837,0.469057,...,2.32882,0.877561,0.8674,0.156022,0.716174,1.73051,1.12954,0.785424,3.05563,ff68f3ac3
1988,0.400207,0.636704,0.0961786,1.84287,0.711824,1.32244,0.547864,3.48636,0.580283,1.70799,...,2.04273,0.985415,1.87858,0.913694,0.872929,1.57236,0.311828,1.21269,1.50189,ff973e852
1989,0.916395,1.18949,0.257072,3.13473,0.149814,1.2824,0.570064,1.91121,0.599217,1.48947,...,2.84208,1.65839,2.11857,0.708479,0.421687,1.59015,0.823777,1.10739,1.00189,ffa5cf6d6
1990,1.49053,2.01687,1.30712,2.35521,0.510031,1.01444,0.0810986,2.29888,0.895345,1.69891,...,0.580216,2.03592,0.751955,1.39847,0.278684,0.621048,1.46528,0.465974,1.48424,ffa88cbb8
1991,0.416979,1.17847,2.6287,3.0364,0.062178,1.02115,0.336896,1.83965,0.72833,0.887844,...,1.29854,1.73005,0.236424,0.523878,1.26118,0.986523,1.31846,2.1057,1.43794,ffda5d7b3

In [36]:
df_sub.to_csv('submission_bagging.csv', index=False)